@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@keyframes fadeInOpacity {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
		
	}
	100% {
		opacity: 1;
	}	
	
}
	/*animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;*/
html *:focus{
outline: none;
}
html{
	font-family: "Bungee";
	cursor: default;
}
body{
	margin-top: -20px;
/*	background-image: url(Background.jpg);*/
	background-color: white;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;	

}
#navlist{
	background-image: linear-gradient(to right,rgb(92, 140, 254), rgb(125, 180, 108)) ;
	margin-left: -0.5em;
	height: 50px;
	padding-top: 10px;
}

li>h1, #home{
	color:white;
	
	/*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
}
.tablogo{
	
	height: 3em;
}
#navlist>li>h1{
	margin-top: 40px;
	
}
#navlist>li, #navlist h1{
display: inline;
list-style-type: none;
margin-right: 10px;
cursor: default;
font-family: Montserrat;


}

#home{
	margin-top: 0.4em;
	margin-right: 1em;
	float:right;
	font-size: 1.5em;
	cursor: pointer;
}
#home:hover{
	transform: scale(0.9);
}

#container{
	display: grid;;
	grid-template-columns:1fr;
}
#welcome{
	margin-left: 4%;
	text-align: left;
	font-size: 3em;
	text-shadow: 1px 2px 1px gray;
	padding-bottom: -10em;
}
#welcome>span{
	background-color: rgb(2,2,2,0.1);
}
#howworks{
	margin-left: 4%;
	font-size: 3em;
	text-shadow: 1px 2px 1px gray;
	padding-bottom: -10em;
}

#layouts{
	margin-top: 1%;
	margin-left: 7%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 4fr 1fr 3fr 1fr 4fr 2fr;
}

#imgs{
	display: flex;
	margin-left: -4%;
	width: 99.9%;
	background-color: rgb(117, 205, 253);
	padding-top: 1em;
}
#firstimg{
	margin-left: 5%;
}
#imgs>img{
	background-color: wheat;
	border:2px solid gray;
	width: 15em;
	height: 15em;
	margin-bottom: 1em;
	margin-right: 2em;
	border-radius: 10px;
	cursor: pointer;

}
#imgs>img:hover{
	transform: scale(1.2);
}
#rangeexam{
	margin-left: -4%;
	width: 100%;
	background-color: wheat;
}
#rangeone{
	margin-left: 2%;
	margin-top: 8%;
	width: 40%;
	margin-right: 15%;
}
#rangetwo{
	width: 40%;
}
#generatecode{
	margin-left: -4%;
	width: 100%;
	background-color: royalblue;
}
#generatecode>textarea{
	resize: none;
}

#textone{
	margin-left: 3%;
	margin-top: 5%;
	width: 45%;
	height: 50%;
	margin-right: 2%;
}
#texttwo{
	height: 50%;
	width: 45%;
}

#begin{
	margin-top: 1em;
	margin-left:1%;
	text-align: left;

	color:royalblue;
	font-family: Montserrat;
	border-radius: 20px;
	animation: fadeInOpacity 2.5s infinite;
	font-weight: bolder;
	font-size: 2em;

}

#begin:hover{
   	color: orange;
  	animation: fadeInOpacity 0.5s infinite;
	/*animation: none;*/
	cursor: pointer;
}